[submodule "linux_docker_resources/rticonnextdds-src"]
	path = linux_docker_resources/rticonnextdds-src
	url = git@github.com:osrf/rticonnextdds-src.git
[submodule "linux_docker_resources/rticonnextdds-license"]
	path = linux_docker_resources/rticonnextdds-license
	url = git@github.com:osrf/rticonnextdds-src.git
	branch = license
[submodule "windows_docker_resources/rticonnextdds-src"]
	path = windows_docker_resources/rticonnextdds-src
	url = git@github.com:osrf/rticonnextdds-src.git
	branch = binaries/windows/amd64/5.3.1
[submodule "windows_docker_resources/rticonnextdds-license"]
	path = windows_docker_resources/rticonnextdds-license
	url = git@github.com:osrf/rticonnextdds-src.git
	branch = license
[submodule "windows_docker_resources/qtaccount"]
	path = windows_docker_resources/qtaccount
	url = git@github.com:osrf/qtaccount
[submodule "windows_docker_resources/ros2-cookbooks"]
	path = windows_docker_resources/ros2-cookbooks
	url = git@github.com:ros-infrastructure/ros2-cookbooks
	branch = brawner/ros2-windows
