<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.ros2.ci.REPLACE_HOSTNAME-agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/java</string>
		<string>-Djava.awt.headless=true</string>
		<string>-jar</string>
		<string>/Users/osrf/jenkins-agent/swarm-client-3.8.jar</string>
		<string>-master</string>
		<string>http://ci.ros2.org:8080</string>
		<string>-labels</string>
		<string>macos</string>
		<string>-name</string>
		<string>macos_REPLACE_AGENT_NAME</string>
		<string>-description</string>
		<string>REPLACE_AGENT_DESCRIPTION</string>
		<string>-disableClientsUniqueId</string>
		<string>-username</string>
		<string>REPLACE_USERNAME</string>
		<string>-password</string>
		<string>REPLACE_PASSWORD</string>
		<string>-mode</string>
		<string>exclusive</string>
		<string>-executors</string>
		<string>1</string>
		<string>-fsroot</string>
		<string>/Users/osrf/jenkins-agent</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ROS_DOMAIN_ID</key>
		<string>REPLACE_DOMAIN_ID</string>
	</dict>
	<!-- Ensure that the agent is restarted automatically if it disconnects -->
	<key>KeepAlive</key>
	<true/>
	<!-- Afford the same priority to the process as what it would get if started manually -->
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Nice</key>
	<integer>-20</integer>
	<key>StandardOutPath</key>
	<string>/Users/osrf/jenkins-agent/stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/osrf/jenkins-agent/stderr.log</string>
</dict>
</plist>
