<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.ros2.ci.REPLACE_HOSTNAME-agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/java</string>
		<string>-Djava.awt.headless=true</string>
		<string>-jar</string>
		<string>/Users/osrf/jenkins-agent/slave.jar</string>
		<string>-jnlpUrl</string>
		<string>http://ci.ros2.org/computer/REPLACE_JENKINS_AGENT_NAME/slave-agent.jnlp</string>
		<string>-secret</string>
		<string>REPLACE_JENKINS_AGENT_SECRET</string>
	</array>
	<!-- Ensure that the slave agent is restarted automatically if it disconnects -->
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Nice</key>
	<integer>-20</integer>
	<key>StandardOutPath</key>
	<string>/Users/osrf/jenkins-agent/stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/osrf/jenkins-agent/stderr.log</string>
</dict>
</plist>
